exportPattern("^[[:alpha:]]+")
importFrom("parallel","mclapply")
importFrom("graphics", "axis", "mtext", "title")
importFrom("stats", "chisq.test", "fisher.test", "na.omit", "pchisq", "qnorm", "xtabs")
importFrom("utils", "data", "combn", "download.file", "packageVersion", "read.table", "write.table","write.csv")
import("httr")
import("BIGDAWG")
import("dplyr")
import("data.table")
import("magrittr")
#importFrom("BIGDAWG","HLA_data","ExonPtnList")
